#dow {
	height: fit-content;
	min-height: calc(100vh - 56px);
	margin-top: 57px;
	display: flex;
	flex-direction: column;

	.MuiContainer-root {
		padding-top: 20px;
	}
}

@media only screen and (min-width: 600px) {
	#dow {
		min-height: calc(100vh - 64px);
		margin-top: 64px;
	}
}

@media only screen and (min-width: 700px) {
	#dow {
		.MuiContainer-root {
			display: flex;
			gap: 15px;
		}
	}
}

@media only screen and (min-width: 900px) {
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1536px) {
}
