.MuiPaper-root.menu {
	width: 320px;
	max-height: 580px;
	position: fixed;
	top: -460px;
	right: 10px;
	z-index: 3;
	display: flex;
	padding: 20px 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 1s ease;

	&.active {
		top: 55px;
	}

	.title-icon {
		align-self: center;
		margin-bottom: 2.5px;
	}

	.title-icon.green {
		color: green;
	}

	.title-icon.blue {
		color: steelblue;
	}

	.auth-message {
		margin-bottom: 5px;
	}

	.notify {
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		align-items: center;
	}

	#forgot-form {
		padding: 0 31px;
	}

	.forgot-txt {
		text-align: center;
	}

	h6.link {
		cursor: pointer;
	}
}

@media only screen and (min-width: 500px) {
}
@media only screen and (min-width: 600px) {
	.MuiPaper-root.menu {
		&.active {
			top: 63px;
		}
	}
}
@media only screen and (min-width: 900px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1536px) {
}
