.navbar {
	position: relative;

	.toolbar {
		justify-content: center;
		position: relative;
		background-color: var(--background-primary);
		color: var(--txt-primary);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		z-index: 4;
		transition: all 1s ease-in-out;

		.mobile {
			display: block;
			position: absolute;
			left: 20px;
		}

		.nav-link {
			display: none;
		}

		.logo {
			width: 56px;
			height: 56px;
			cursor: pointer;
		}

		&.active {
			background-color: #7d67cb;
			color: var(--txt-secondary);

			.mobile {
				color: var(--txt-secondary);
			}
		}

		&.user-view {
			box-sizing: border-box;
			justify-content: space-between;

			.avatar,
			.home,
			.logout {
				margin: 0 10px;
			}

			.user-area {
				display: flex;
				justify-content: center;
				align-items: center;

				h3 {
					font-weight: 500;
				}

				.profile-icon {
					width: 30px;
					height: 30px;
				}
			}

			.user-controls {
				display: flex;
			}
		}
	}
}
