.detail-row {
	width: 100%;
	display: flex;
	justify-content: center;

	&:not(:last-child) {
		margin-bottom: 15px;
	}

	.row-section {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
