.footer {
	height: calc(100vh / 6);
	// background: #7597bd;
	background: #33658a;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	transition: all 1s ease-in-out;

	// .social-container,
	.contact,
	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.icon {
			margin-right: 5px;
			vertical-align: middle;
		}
	}

	.contact {
		.email {
			margin-bottom: 5px;
		}
	}

	.info {
		.policy {
			margin-bottom: 5px;
		}
	}

	.content,
	.divider {
		display: none;
	}

	&.active {
		background-color: #7d67cb;
	}
}

@media only screen and (min-width: 500px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 900px) {
	.footer {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		// .social-container,
		.contact,
		.info {
			align-items: flex-start;
		}

		// .social-container .row {
		// 	margin-left: -5px;
		// }

		.content,
		.divider {
			display: block;
		}

		.content {
			font-size: unset;
			font-weight: 400;
		}

		.divider {
			border-bottom: 2px solid #fef6e4;
			width: 60%;
			margin: 10px 0;
			align-self: flex-start;
		}
	}
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1536px) {
}
