#welcome {
	position: relative;
	height: calc(100vh / 2);
	max-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: fill;
	}

	.message {
		width: fit-content;
		font-family: 'Rubik Bubbles';
		background: linear-gradient(
			to left,
			rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.4)
		);
		margin: auto;
		padding: 0 10px;
		border-radius: 7px;
		z-index: 5;

		h2 {
			color: var(--heading);
		}
	}
}

@media only screen and (min-width: 600px) {
	#welcome {
		.message {
			margin: 0;
			margin-left: 3%;
		}
	}
}
