:root {
	--background-primary: #fffffe;
	--background-secondary: #1e2025;
	--txt-primary: #16161a;
	--txt-secondary: #f5f5f5;
	--brand: rgb(51, 100, 138);
	--brand-shadow: rgba(51, 100, 138, 0.2);
	--brand-alt: #7d67cb;
	--brand-alt-shadow: rgba(125, 103, 203, 0.2);
	--border: #72757e;
	--heading: whitesmoke;
	--paragraph: #94a1b2;
	--highlight: #2cb67d;
	--highlight-shadow: rgba(44, 182, 125, 0.2);
	--muted: rgba(255, 255, 255, 0.34);
	--muted-shadow: rgba(255, 255, 255, 0.06);
	--reply: #4fc4cf;
	--reply-shadow: rgba(79, 196, 207, 0.2);
	--hover: #86ba90;
	--elevation: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
		0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
	--spacing: 15px;
	--error: crimson;
}

* {
	margin: 0;
	padding: 0;
	scroll-snap-align: start;
	box-sizing: border-box;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* For Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	background-color: lightgray;
}

.responsive-h1 {
	font-size: clamp(2rem, 3vw + 1rem, 4.5rem);
}

.responsive-h2 {
	font-size: clamp(1.5rem, 2vw + 1rem, 3.5rem);
}

.responsive-h3 {
	font-size: clamp(1.25rem, 1.5vw + 1rem, 2.5rem);
}

.responsive-h4 {
	font-size: clamp(1.125rem, 1.25vw + 0.75rem, 2rem);
}

.responsive-h5 {
	font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
}

.responsive-h6 {
	font-size: clamp(0.875rem, 0.75vw + 0.5rem, 1.25rem);
}

.responsive-p {
	font-size: clamp(0.875rem, 0.5vw + 0.5rem, 1.125rem);
}
