#fsday {
	width: inherit;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	padding: 25px;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#content-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		#day-event-list,
		#event-details {
			height: 100%;

			.fsDay-surface {
				height: 90%;
				padding: 10px;
				border-radius: 7px;
			}
		}

		#day-event-list {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.fsDay-surface {
				overflow-y: auto;
			}

			#create-event-btn {
				align-self: center;
			}
		}

		#event-details {
			display: none;
		}
	}
}

@media only screen and (min-width: 600px) {
	#fsday {
		#content-wrapper {
			flex-direction: row;
			justify-content: space-around;
			align-items: center;

			#day-event-list,
			#event-details {
				width: 45%;

				#create-event-btn {
					display: none;
				}
			}

			#event-details {
				display: block;

				.fsDay-surface {
					min-height: 90%;
					height: fit-content;
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}
