#fsday {
	width: inherit;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 25px;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#content-wrapper {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;

		#day-event-list {
			height: 90%;
			padding: 10px;
			background-color: #fffffe;
			border-radius: 7px;
			margin: auto 0;
			overflow-y: scroll;
		}

		#event-details {
			display: none;
		}
	}
}

@media only screen and (min-width: 600px) {
	#fsday {
		justify-content: center;
		position: relative;

		header {
			position: absolute;
			top: 20px;
			right: 20px;
			left: 20px;
		}

		#content-wrapper {
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			margin-top: 45px;

			#day-event-list,
			#event-details {
				width: 45%;
			}

			#event-details {
				height: fit-content;
				min-height: 85%;
				display: block;
			}

			#day-actions {
				display: none;
			}
		}
	}
}
